{% extends 'gabarit.html' %}


{% load static %}

{% block content %} 
<link rel="stylesheet"  href=" {% static 'detail.css' %} ">
<div class="container" style="width: 5000px;">
    <div class="box">
        <div class="images">
            <div class="img-holder active">
                <img src=" {{ detail.image.url }}" >
            </div>
           
        </div>
        <div class="basic-info">
            <h1>{{ detail.name }}</h1>
            <div class="rate">
                <i class="filled fas fa-star"></i>
                <i class="filled fas fa-star"></i>
                <i class="filled fas fa-star"></i>
                <i class="filled fas fa-star"></i>
                <i class="filled fas fa-star"></i>
            </div>
            <span>{{ detail.price }}</span>
            
                <H1 style="position: relative; top:30px; color: rgb(65, 67, 67);">Description</H1>
              
           
        </div>
        <div class="description">
            <p style="font-size:18px ;">{{ detail.description }}</p>
           
           
            <ul class="social">
                <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}